body{
    background-color: darkgray;
}

.Titulo{
    margin-top: 79px;	
    display: flex;
}
.cabecario{
    background-color: dimgrey; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}
.Voltar{
    position: sticky;
    padding-left: 50px;
    color: aliceblue;
    font-size: x-large;
    background-color: black;
    border-style: ridge;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100px;
}
.livro_fundo{
    margin-top: 200px;
    background-color:dimgray;
    width: 1999px;
    height: 246px;
    display: flex;
    flex-direction: column-reverse;
    border: 1px inset rgba(0, 0, 0, 0.678);
    border-radius: 1px;
    left: 1px;
}
.livros{
    display: flex;
    margin-top: 309px;
    height:250px ;
    width: 170px;
}
.livro-txt{
    color: darkgray;
    display: block;
    font-size: large;
    white-space: nowrap;
    
}
.link-livro{
    color: rgb(255, 255, 255);
    background-color: dimgray;
    border-radius: 50px;
}